{{ define "heading" }}
<div class="category-route">


    <div id="map" class="category-route-map"></div>    
    {{ partial "maps/init-map.html" . }}
    
    <div class="et-date-wrapper"><span class="et-date">Deutschland</span></div>
</div>
{{ end }}
{{ define "main" }}
{{ range .Pages }}
<article class="entry-post clearfix">
    <div class="post-thumbnail">
        {{ $alt := .Page.Title }}
        {{ with .Page.Resources.GetMatch .Params.featured_image }}        
            {{ $image := .Fit "960x320" }}
            <img src="{{ $image.RelPermalink }}" alt='{{ $alt }}' width='{{ $image.Width }}' height='{{ $image.Height }}' />		
        {{ end }}
        <div class="post-description">
        
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <p class="meta-info"> am {{ time.Format "02. January 2006" .Date }}</p>		
    </div> <!-- .post-description -->

    </div> <!-- .post-thumbnail -->
    <p>{{ .Summary }}</p>

    <a href="{{ .RelPermalink }}" class="read-more">Mehr lesen &nbsp;<span>&raquo;</span></a>
</article> 
{{ end }}
{{ end }}