{{ define "heading" }}
<div class="et-map-post">
    <div class="thumbnail">
        {{ $alt := .Page.Title }}
        {{ with .Page.Resources.GetMatch .Params.featured_image }}
            {{ $image := .Fit "960x320" }}
            <img src="{{ $image.RelPermalink }}" alt='{{ $alt }}' width='{{ $image.Width }}' height='{{ $image.Height }}' />
        {{ end }}
        <div class="et-description">
            <h1>{{ .Title }}</h1>
        </div>
        {{ if .Date }}
            <div class="et-date-wrapper">
                <span class="et-date">{{ time.Format "02. January" .Date }}<span>{{ time.Format "2006" .Date }}</span></span>
            </div>               
        {{ end }}
    </div>
</div>
{{ end }}
{{ define "main" }}
{{- $page := . -}}
{{- $tracks := slice -}}
{{- with .Params.tracks -}}
  {{- range . -}}
    {{- $s := newScratch -}}
    {{- $file := ($page.Resources.GetMatch .file) -}}
    {{- $s.SetInMap "map" "href" $file.RelPermalink -}}
    {{- $map := $s.Get "map" -}}
    {{- $s.SetInMap "map" "vehicle" .vehicle -}}
    {{- $tracks = $tracks | append $map -}}
  {{- end -}}
{{- end -}}
<article class="entry-content" {{ with $tracks }}{{ printf "data-tracks=%s" (jsonify .) | safeHTMLAttr }}{{ end }}>
    {{ .Content }}
</article>
{{ if (partial "maps/check-map-needed.html" .) }}
    <div class="entry-route">
        <div class="entry-map-wrapper">
            <h1 class="entry_track_heading">{{ .Params.map.title | default "Gefahrene Strecke"}}</h1>
            <div id="map" class="entry-route-map" data-map-type="{{ default "roadmap" .Params.map.type }}"></div>
        </div>
        {{ partial "maps/init-map.html" . }}    
    </div>
{{ end }}
<!-- Start disqus -->
{{ partial "disqus.html" . }}
<!-- end disqus -->
{{ end }}