<div id="legend" class="legend-canvas">
    <div class="legend-canvas-inner">
        <div class="layer-legends"><h2
                class="legend-title">
            <span class="legend-ellipsis">Legende</span>
        </h2>
            <div class="legend">
                <div class="legend-item u-tSpace-xl" style="display: block;">
                    <div class="legend-categories">
                        <ul>
                            <li>
                                <div class="bullet" style="opacity: 1 ; background: #d43838"></div>
                                Fahrrad
                            </li>
                            <li>
                                <div class="bullet" style="opacity: 1 ; background: #5fd45f"></div>
                                Zug/Bus/Schiff
                            </li>
                            <li>
                                <div class="bullet" style="opacity: 1 ; background: #54aadd"></div>
                                Flugzeug
                            </li>
                        </ul>
                    </div>
                </div>                
            </div>
        </div>        
    </div>  
</div>